.@{prefixClass} {
  &-input-wrap {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      clear: both;
    }

    a {
      position: absolute;
      top: 0;
      right: 12px;
      bottom: 0;
      height: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-time-picker {
    position: absolute;
    width: 100%;
    top: 34px;
    background-color: var(--rc-calendar-popover-bg, #fff);
    height: 217px;

    &-panel {
      width: 100%;
      position: relative;

      .@{timePickerClass}-panel {
        &-input-wrap {
          display: none;
        }

        &-inner {
          border: none;
          box-shadow: none;
        }

        &-select {
          width: 84px;
          max-height: 217px;

          li {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }

  &-time-picker-wrap {
    float: left;
    width: 100%;

    .@{timePickerClass} {
      width: 100%;

      &-input {
        padding: 0;
        border: 1px solid transparent;
        outline: 0;
        height: 22px;
      }

      &-icon {
        display: none;
      }
    }
  }

  &-input {
    border: 1px solid transparent;
    width: 100%;
    color: var(--rc-calendar-body-color, #212529);
    cursor: text;
    line-height: 1.5;
    outline: 0;
    height: 22px;

    &-invalid {
      border-color: red;
    }

    &::placeholder {
      color: #868e96;
    }
  }

  &-clear-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }

  &-clear-btn svg {
    height: 14px;
    width: 14px;
    color: var(--rc-calendar-icon-color, #666);
  }

  &-clear-btn:hover {
    background-color: var(--rc-calendar-icon-btn-hover-bg-color, rgba(0, 0, 0, .04));
    border-radius: 4px;
  }
}
